@import 'src/styles/globals.module.scss';


@font-face {
    font-family: "montserrat";
    src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.pageContainer {
    padding-top: 100px;
    width: 100vw;
    //background-image: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "montserrat";
    scroll-behavior: smooth;

    h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        color: black;
        margin: 0;
        padding: 0.2em 0.3em;

        border-radius: 10px;
        margin-top: 1rem;
        background-color: $stemm-blue;
        color: white;
    }

    background-image: url("/Halal-food/halaleating.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    // need to implement the parallax effect at some point
}

.pageIntroduction {
    width: 80%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;

    font-family: "montserrat";
    font-size: 1rem;

    border: 0.5em solid $stemm-lighter-blue;
    border-radius: 10px;
    background-color: rgb(255, 251, 237);

    .link {
        font-size: 1rem;
        color: rgb(19, 53, 163);
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: rgb(46, 152, 179);
        }
    }

    a {
        scroll-behavior: smooth;
    }
}

.masonryItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.5em 0.8em;
    margin: 0.5em 0.5em;

    background-color: rgb(223, 211, 197);

    transition: all 0.3s ease-in-out;

    .directions {
        font-size: 1em;
        font-weight: 200;
        color: $stemm-darker-blue;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 400;
        color: rgb(12, 68, 38);
        background-color: transparent;
    }

    p {
        font-size: 1em;
        font-weight: 300;
        color: $stemm-darker-blue;
    }
}

.masonryItem:hover {
    background-color: rgb(217, 226, 248);
    scale: 1.05;
}

.SKcampusContainer {
    width: 80%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.southKenContainer {
    width: 80%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.charingCrossContainer {
    width: 70%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.stMarysContainer {
    width: 70%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 550px) {
    .pageContainer {
        h1 {
            border-radius: 0;
            width: 100%;
        }
    }

    .pageIntroduction {
        width: 100%;
        border-width: 0;
        border-radius: 0;
    }

    .southKenContainer {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .charingCrossContainer {
        width: 100%;
        padding: 0;
    }

    .stMarysContainer {
        width: 100%;
        padding: 0;
    }
}