@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'src/styles/globals.module.scss';
.Top {
    max-width: 1440;
    height: 243px;
    flex-shrink: 0;
    background: #F9F4EF;
}

.title {
    color: $stemm-blue;
    text-align: center;
    font-family: "Cinzel Decorative";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    padding-top: 44px;
    margin: 0;
}

.subtitleDiv {
    width: 1044px;
    height: 36px;
    flex-shrink: 0;
    margin: 0;
}

.subtitle {
    color: #661C0F;
    text-align: center;
    /* Italic heading */
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 10px;
    margin: 0px 0px 45px 0;
}

.about {
    color: $stemm-blue;
    text-align: center;
    /* Heading with emphasis */
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-top: 57px;
}

.container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc_div {
    display: flex;
    width: 810px;
    min-height: 204px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: 50px 50px 92px 219px;
    margin-left: -10%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.desc_div_hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.description {
    color: $stemm-blue;
    /* Body/Body and Bio text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    padding: 30px;
}

.arrow {
    width: 25.456px;
    stroke-width: 8px;
    stroke: $stemm-blue;
}

.btn_div {
    width: 1221px;
    height: 192px;
    flex-shrink: 0;
    display: flex;
    width: 60px;
    max-width: 60px;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 40px 0 0;
}

.arrow_div {
    display: flex;
    // height: 60px;
    // width: 60px;
    // max-width: 60px;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 18px;
    padding-left: 20px;
    transition: transform 0.4s ease-in-out;
    transform-origin: 75% 50%;
}

.arrow_div svg {
    margin: -4px;
}

// .arrow_rotate {
//     display: flex;
//     width: 60px;
//     max-width: 60px;
//     flex-direction: column;
//     align-items: flex-start;
//     padding-bottom: 18px;
//     padding-left: 20px;
// }
.btn_text {
    color: #772119;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16.5px;
    /* 150% */
    width: 60px;
    max-width: 60px;
    margin: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.btn_text_hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.textbox {
    width: 60px;
    max-width: 60px;
    margin: 0;
}

.break {
    width: 1148px;
    height: 1px;
    background: $stemm-blue;
    border: none;
    margin: 0px auto;
    padding-bottom: 0px;
}

.activities {
    height: 1000px;
    flex-shrink: 0;
    background: #F9F4EF;
}

.examples {
    display: flex;
    flex-direction: row;
}

.inISOC {
    color: $stemm-blue;
    text-align: center;
    /* Heading with emphasis */
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 58px;
    margin-top: 0px;
    /* 68.571% */
}

.example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Img {
    display: flex;
    // flex: 1 0 0;
    align-self: center;
    width: 247px;
    height: 235px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 5px;
    border-radius: 5px;
    border: 8px solid $stemm-blue;
    background: #FFF;
}

.para {
    max-width: 490px;
    text-align: center;
    padding-bottom: 52px;
    justify-content: center;
}

.paraTitle {
    color: $stemm-blue;
    text-align: center;
    /* Headings */
    font-family: Inter;
    font-size: 27.816px;
    font-style: normal;
    font-weight: 400;
    margin-top: 55px;
    /* 143.802% */
}

.exampleDesc {
    color: $stemm-blue;
    /* Body/Body and Bio text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    // line-height: 40px;
}

.exampleDescBold {
    color: $stemm-blue;
    /* Body/Body and Bio text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0;
}

.paraBreak {
    margin-bottom: 100px;
    /* Adjust this value as needed */
}

.sunnahDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 549px;
    height: 166px;
    flex-shrink: 0;
    border-radius: 15px;
    background: $stemm-blue;
    text-align: center;
    // flex: 1;
}

.sunnah {
    display: flex;
    width: 517px;
    height: 166px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    /* Button text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}

.sunnahLink {
    color: #FFF;
    /* Button text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
}

.verseDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 549px;
    height: 166px;
    flex-shrink: 0;
    border-radius: 15px;
    background: $stemm-blue;
    text-align: center;
}

.verseNum {
    @extend .verse;
    padding-top: 15px;
}

.verse {
    flex-shrink: 0;
    color: #FFF;
    /* Button text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
}

.verticalLine {
    width: 1px;
    height: 488px;
    background: $stemm-blue;
    margin: 0 auto;
    margin-top: 300px;
}