@font-face {
    font-family: "montserrat";
    src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.pageIntroduction {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #731B14;
}

.pageIntroductionContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.pageIntroductionContent {
    width: 50%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5%;

    font-family: "montserrat";
    font-size: 2rem;
    color: black;
    background-color: rgb(255, 254, 246);

    h1 {
        font-size: 2rem;
    }
    p {
        line-height: 1.7em;
        font-size: 0.43em;  
    }
}

.pageIntroductionImage {
    width: 50%;
    min-width: 300px;
    height: 100%;

    background-image: url("/life/QueensLawn.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.lifeAtUniContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem ;
    margin-bottom: 2rem;

    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.masonryContainer {
    width: 70%;
}

.lifeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border: 1px solid black;

    padding: 2rem;

    h1 {
        color: rgb(168, 52, 17);
        font-size: 1.3rem;
    }
    p {
        font-size: 0.9em;
        line-height: 1.7em;
        font-weight: 200;
        padding-bottom: 1rem;
    }
    button {
        padding: 0.5rem 2rem;
        border-radius: 20px;
        background-color: rgb(1, 50, 64);
        
        font-weight: 200; 
        color: white;
        
        font-size: 1em;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: rgb(150, 12, 17);
        }
    }
}

@media screen and (max-width: 900px) {

    .pageIntroduction {
        height: fit-content;
    }

    .pageIntroductionContainer {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .pageIntroductionContent {
        width: 100%;
        height: fit-content;
        padding: 5% 3%;

    }

    .pageIntroductionImage {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    
    .pageIntroduction {
        height: fit-content;
    }
    
    .pageIntroductionContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;

        background-color: white;
    }
    .pageIntroductionContent {
        text-align: center;

        width: 100%;
        height: fit-content;
        padding: 5% 3%;
        border-bottom: 5px solid #731B14;
    }

    .pageIntroductionImage {
        display: none;
    }

    .masonryContainer {
        width: 100%;
    }
}