// Layout.module.scss
@import "../../../styles/globals.module.scss";
@import "../outreach.module.scss";

// Variables for consistent styling
$background-color: #f5f5f5;
$text-color: #333;
$primary-color: #0070f3;
$header-bg-color: #333;
$header-text-color: #fff;
$footer-bg-color: #333;
$footer-text-color: #fff;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color;
  color: $text-color;

  .header {
    position: relative;
    overflow: hidden;
    background-color: $light-stone;

    .backgroundImage {
      z-index: 0; // Ensure it is below the text
    }

    .headerText {
      font-size: 800%;
      position: relative;
      z-index: 1; // Ensure the text is above the image
      text-align: center;
      color: white;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    }

    &.withImage {
      background-color: transparent; // If an image is provided, remove the fallback color
    }
  }

  .contentBox {
    background-color: $light-stone;
    border: rgba(255, 255, 255, 0.7) 2px solid;
    font-size: 1rem;
    line-height: 1.6;
    min-height: 300px;
    text-align: center;

    p {
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  main {
    flex: 1;
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
