@import "../../styles/globals.module.scss";

@font-face {
  font-family: "montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

.pageIntro {
  height: 800px; // for image
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $stemm-blue;

  .pageIntroContainer {
    width: 90%;
    display: flex;
    flex-direction: row;

    .pageIntroContent {
      width: 50%;
      min-width: 300px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 7%;

      font-family: "montserrat";
      color: black;
      background-color: white;

      h1 {
        font-size: 3rem;
        line-height: 1.2em;
      }

      p {
        line-height: 1.8em;
        font-size: 1.2em;
      }
      
      span {
          color: $stemm-light-blue;
      }
    }

    .pageIntroImage {
      width: 50%;
      min-width: 300px;
      height: 100%;

      background-image: url("/Outreach/sky.jpg");
      background-size: cover;
    }
  }
}

.outreachContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;

  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .masonryContainer {
    width: 70%;

    .outreachCard {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      text-align: center;
      min-width: 100px;

      border: 1px solid black;

      padding: 2rem;
      padding-top: 1rem;

      overflow: hidden;

      .cardContent {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row;
        overflow: hidden;
      }

      .cardImage {
        flex: 0 0 60%;
        overflow: hidden;
        display: flex;
        // max-height: 30rem; // Set your maximum height
        max-height: 30vh;
        justify-content: right;
        align-items: center;
        border-radius: 8px;

        img {
          // max-width: 100%; // Ensure the image doesn't exceed the container's width
          // max-height: 100%; // Ensure the image doesn't exceed the container's height
          width: 100%; // Allow the width to adjust based on the height
          height: auto; // Allow the height to adjust based on the width
          object-fit: cover; // Ensure the image scales proportionally
        }
      }

      .textContent {
        flex: 0 0 40%;
        justify-content: center;
        align-items: center; /* Center vertically */
        height: auto;

        h1 {
          color: $isoc-bright-red;
          font-size: 3rem;
          font-weight: 400;
        }

        p {
          font-size: 0.9em;
          line-height: 2em;
          font-weight: 300;
          padding-bottom: 1rem;
        }

        button {
          padding: 0.5rem 2rem;
          border-radius: 20px;
          background-color: #002028;

          font-weight: 200;
          color: white;

          font-size: 1em;
          transition: 0.2s;

          &:hover {
            background-color: $isoc-bright-red;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .pageIntro {
    height: fit-content;

    .pageIntroContainer {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;

      .pageIntroContent {
        text-align: center;
        width: 100%;
        height: fit-content;
        padding: 0 5px;
      }
    }
  }

  .pageIntroductionImage {
    width: 100%;
    height: 300px;
  }

  .outreachContainer h1 {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .pageIntro {
    height: fit-content;
    background-color: white;

    .pageIntroContainer {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .pageIntroContent {
        text-align: center;
        width: 100%;
        height: fit-content;
        border-bottom: 50px solid $isoc-red;
      }

      .pageIntroImage {
        display: none;
      }
    }
  }

  .outreachContainer {
    h1 {
      text-align: center;
    }

    .masonryContainer {
      width: 100%;

      .outreachCard {
        padding: 2rem 1rem;

        border-right: none;
        border-left: none;
      }
    }
  }
}
